* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.slideShowContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .slideShow {
    display: flex;
    position: relative;
    align-items: center;
    width: 600px;
    aspect-ratio: 16/9;
    overflow: hidden;
  
    .flechaIzquierda {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1rem;
      margin: auto;
      user-select: none;
      height: min-content;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all .3s ease;
      z-index: 1;
      &:hover{
        opacity: 0.5;
      }
    }
  
    .flechaDerecha {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1rem;
      user-select: none;
      margin: auto;
      height: min-content;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all .3s ease;
      z-index: 1;
      &:hover{
        opacity: 0.5;
      }
  
    
    }
    .slide{
      position: relative;
      overflow: hidden;
      display: flex;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      animation: showUp 0.5s;
  
      .textSlide{
        position: absolute;
        bottom: 0;
        padding: 1rem;
        color: #fff;
        backdrop-filter: blur(0.2rem);
        background-color: #0005;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
      }
  
      }
     
  
  }
  .slideBar{
    height: 5px;
    background-color: #bbb;
    width: 80%;
    margin: auto;
    transition: all .3s ease;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    
    span{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      transition: all .3s ease;
    }
  }
}

@keyframes showUp {
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
